/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.sitelink{
  display: flex;
  margin: 20px 10px;
 
  
}
#datetime-picker{
  margin-left: 156px;
    width: 272px;
    height: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.timer{
  display: flex;
  margin-left: 156px;
  padding-top: 32px;
  width: 346px;
  height: 72px;
  gap: 24px;
 
  
}

span{
  display: flex;
  justify-content: center;
  font-size: large;
}

button{
  width: 75px;
  height: 40px;
  background-color: #CFCFCF;
  border: none;
  padding: 8px 16px;
  color: #989898;
  border-radius: 8px;
  margin-left: 8px;
  }

  .btn-active{
    background: #4E75FF;
    color: #FFFFFF;
   }

 
    .btn-active:hover{
    background-color:#6C8CFF;
      color: #FFFFFF;
    }

  .label{
    font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      color: #2e2f42;
      text-transform: uppercase;
  }
  .value{
    font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 40px;
      line-height: 1.2;
      letter-spacing: 0.04em;
      color: #2e2f42;
  }
  .form {
    display: flex;
    flex-direction: column;
     
  }
  
  fieldset{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin: 20px 0;
   width: 360px;
   height: 64px;
   column-gap: 48px;
  }
  legend{
    text-align: start;
  }
    .form button{
    width: 360px;
    height: 40px;
    border-radius: 8px;
    background-color: #4E75FF;
    border: none;
    padding: 8px 99px;
    color: #FFFFFF;
    margin-left: 8px;
    font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      
  }
    .form button:hover{
      background-color: #6C8CFF;
    }
  